.sign-in-button{
    /* padding: 5px 15px; */
    
    width: 100%;
    padding: .4rem 0     ;
    background-color: white;
    color: black;
    border-radius: 20px;

}
.sidebar{
    padding: .6rem 0;
    background-color: rgba(255, 255, 255, 0.1);
    color:white;
    border-radius: 30px;
    width: 100%;
}
.register{
    padding: .5rem 1.25rem;
    margin-left: .75rem;
    background:red;
    color: white;
}
button[disabled]{
    background-color: rgb(160, 160, 160);
    color: #000;
}
.google{
    background:white;
    /* border: 1px solid; */
    border-radius: .75rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    padding: .5rem 0;
    margin-top: 1.25rem;
}
.login{
    width: 100%;
    color: white;
    padding: .75rem 1rem;
    margin-top: 1.5rem;
    background: red;
}
.login:focus ,.login:hover ,.register:hover{
    background: #000;
    color: white;
}
