.bg-focus:focus{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
.collapsed{
    width: 50%;
    white-space: nowrap;
    display: flex;
    
    flex-direction: column;
    margin-right: 3rem;
    
  }