.side-bar{
    border-right:1px solid rgba(255, 255, 255, .1);
 }
 .contentBody{
    height: calc(100vh - 4rem);
 }

 .collapsed{
   width: 7%;
   white-space: nowrap;
   display: flex;
   align-items: start;
   flex-direction: column;
   margin-right: 3rem;

   text-align: center;
   height: auto;
   border: none;
 }
 .expand{
   width:calc(100vw - 7%) ;
 }
