.top-section::-webkit-scrollbar-track-{
    background-color: black;
}
.play_all{
   
        padding: 7px 15px;
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: 20px;
        border: 1px solid rgb(52, 52, 52);
    
    
}
.left-arrow{
    border:1px solid rgb(255, 255, 255 ,.2)
}