.top-section::-webkit-scrollbar-track-{
    background-color: black;
}
.play_all{
   
        padding: 7px 15px;
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: 20px;
        border: 1px solid rgb(52, 52, 52);    

}
.left-arrow{

    color: rgb(255, 255, 255,.2);
}
.arrow{
    border:1px solid rgb(255, 255, 255 ,.2);
}
.grid-style {
    display: grid;
    grid-template-rows: repeat(auto,4); 
    grid-template-columns: repeat(5, 23rem); 
    width: 100%;
    overflow-x : auto;
    overflow-y: hidden;
    max-height: 92%;
  }

  .slider-style {
    /* Hide the scrollbar by default */
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    transition: scrollbar-width 0.3s ease, -ms-overflow-style 0.3s ease;
  }
  .slider-style:hover {

    scrollbar-width: auto; 
    -ms-overflow-style: auto; 
  }
  .slider-style:hover::-webkit-scrollbar {
    width: auto;
    /* background-color: rgb(0, 0, 0); */
    
  }
  .slider-style:hover::-webkit-scrollbar-thumb {
    background-color: rgb(110, 110, 110);
    border: 2px solid black;
  }
  /* .grid-style:hover::-webkit-scrollbar-button {
   
    background-color: red;
    border-radius: 1rem 0 0 0 ;
    width: .5rem;
    height: .5rem;
    
  } */
 
  .playRemove{
    display: flex;
    justify-content: center;
  }

  