<div class=" nav bg-black w-full flex  items-center h-[4rem] justify-around  ">
  <div class=" items-center w-[19%]  align-middle">
    <div class="flex w-[50%] items-center justify-around ">
      <app-hamburger-menu class="mb-2"></app-hamburger-menu>
      <div class="hidden md:block w-[60%]">
        <img src="../../assets/on_platform_logo_dark.svg" alt="">
      </div>
    </div>
  </div>
  <div class="w-[61%]  ">
    <app-search-bar></app-search-bar>
  </div>

  <div class="align-middle flex   max-w-[20%] min-w-[15%] ">
    <app-settings-menu></app-settings-menu>
    <app-sign-in></app-sign-in>
  </div>
</div>