<div class=" nav bg-black w-full flex  items-center h-[4rem] justify-around ">
  <div class="  w-[19%]  ">
    <div class="flex w-[50%] items-center justify-around ">
      <app-hamburger-menu class="mb-2" (btnClicked)="menuClick($event)"></app-hamburger-menu>
      <div class="hidden md:block w-[60%]">
        <img src="../../assets/on_platform_logo_dark.svg" alt="">
      </div>
    </div>
  </div>
  <div class="w-[61%]" [ngStyle]="menuClicked?{'margin-right':'9rem'}:{'margin-left':'6rem'}">
    <app-search-bar></app-search-bar>
  </div>

  <div class="align-middle flex justify-center   max-w-[20%] min-w-[25%] ">
    <app-settings-menu></app-settings-menu>
    <div class="w-[21%]">
      <app-sign-in>Sign in</app-sign-in>

    </div>
  </div>
</div>